.scroll-horizontal-container {
    display: flex;
    gap: 39px;
    border: 10px solid var(--dark-purple);
    border-radius: 30px;
    padding: 60px 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scroll-horizontal-container > * {
    flex: 0 0 288px;
}

.scroll-horizontal-container::-webkit-scrollbar {
    height: 15px; /* Altura da barra */
}

.scroll-horizontal-container::-webkit-scrollbar-track {
    background: #e0e0e000; /* Cor do fundo*/
    border-radius: 100px;
}

.scroll-horizontal-container::-webkit-scrollbar-thumb {
    background-color: #9142ebc2; /* (parte que desliza) */
    border-radius: 100px;
}

.scroll-horizontal-container::-webkit-scrollbar-thumb:hover {
    background-color: #6725b3be; /* (ao passar o mouse) */
}