article.subjects-container .subject-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 288px;
    position: relative;
    cursor: pointer;
}

article.subjects-container .subject-item > .subject-desc{
    display: flex;
    min-width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Jost;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    background-color: var(--dark-purple);
    color: white;
    border-radius: 27px;
    padding: 0px 19px;
    text-align: center;
}

article.subjects-container .subject-item > .subject-desc.desc-large{
    bottom: -34px;
}

article.subjects-container .subject-item > .subject-desc.desc-xlarge{
    bottom: -68px;
}