article.cta-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0px 40px;
    column-gap: 40px;
    row-gap: 36px;
    justify-content: space-between;
    /* align-items: center; */
}