article.img-profile-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 11px;
    margin-bottom: 10px;
}

article.img-profile-container > :nth-child(1n+4){
    width: 100%;
    justify-self: center;
}

.img-row{
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 10rem;
    margin-top: 10px;
}
